.container 
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div 
      = f.label :avatar, 'avatar'
    %div 
      = f.file_field :avatar
    %div
      = f.label :nickname, 'Name'
    %div
      = text_field :nickname, class: 'text'
    %div
      = f.label :introduction, 'Introduce yourself'
    %div
      = f.text_area :introduction
    %div 
      = f.label :gender, 'gender'
    %div
      = f.select:gender, Profile.genders.keys, {}, { class: 'text' }
    %div 
      = f.label :birthday, 'birthday'
    %div 
      = f.date_field :birthday, class: 'text'
    -# %div 
    -#   = f.label :subscribed, 'Receive notifications'
    -#   = f.check_box :subscribed

    = f.submit 'Submit', class: 'btn-primary'
      

      