.container.profilePage 
  .profilePage_user 
    .profilePage_user_image 
      = image_tag 'user-image.png'
    .profilePage_user_basicInfo 
      .profilePage_user_name 
        .profilePage_user_displayName 
          = current_user.display_name
        .profilePage_user_actionButton 
          = link_to 'Edit', edit_profile_path
      .profilePage_user_introduction
        
  - current_user.boards.each do |board|
    .card
      %h3= board.title
      %p= board.content
      %p.name= board.author_name
      = image_tag 'user-image.png', class: 'board-avatar'
      .dropdown-boards
        = image_tag 'menu.png', class: 'menubtn'
        .dropdown-content-boards
          = link_to 'Edit', edit_board_path(board)
          = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }