.container 
  %h2.title New Task
  = form_with(model: @task, url: board_tasks_path(@task.board), method: 'post', local: true) do |f|
    %div 
      = f.label :eyecatch, 'eyecatch'
    %div 
      = f.file_field :eyecatch
    %div 
      = f.label :title, 'title'
    %div 
      = f.text_field :title, class: 'text'
    %div 
      = f.label :content, 'Description'
    %div 
      = f.text_area :content, class: 'description'
    %div 
      = f.label :deadline, 'deadline'
    %div 
      = f.date_field :deadline, class: 'text'

    = f.submit 'Submit', class: 'btn-primary'