.container
  %h2.title= @board.title
  - @task.each do |task|
    .card
      %h3= task.title
      %p= task.content
      %p.name= @board.author_name
      = image_tag @board.user.avatar_image , class: 'board-avatar'
      -# - if user_signed_in? && current_user.has_written?(@board)
      -#   .dropdown-boards
      -#     = image_tag 'menu.png', class: 'menubtn'
      -#     .dropdown-content-boards
      -#       = link_to 'Edit', edit_board_path(@board)
      -#       = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }
  .add_card
    %p 
      = link_to '+ Add new Card', new_board_task_path(@board) 

