.container
  %h2.title= @board.title
  - @task.each do |task|
    = link_to board_task_path(@board, task) do
      .card
        - if task.eyecatch.attached?
          .card_image
            = image_tag task.eyecatch, class: 'task_image'
        %h3= task.title
        %p= task.content
        %h4= task.deadline
        = image_tag task.user.avatar_image , class: 'board-avatar'
        -# - if user_signed_in? && current_user.has_written?(@board)
        -#   .dropdown-boards
        -#     = image_tag 'menu.png', class: 'menubtn'
        -#     .dropdown-content-boards
        -#       = link_to 'Edit', edit_board_path(@board)
        -#       = link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }
  .add_card
    %p 
      = link_to '+ Add new Task', new_board_task_path(@board)

